.wd-kanbas-nav {
	list-style: none;
	background-color: black;
	/* min-width: 75px;
	max-width: 85px; */
	width: 85px;
	text-align: center;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	border-radius: 0;
}

.wd-kanbas-nav .list-group-item {
	text-align: center;
	background-color: black;
	color: white;
	border: 0;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
	text-align: center;
}

.list-group-item.active {
    background-color: white;
    color: red;
}

.wd-logo {
	width: 70px;
}

.wd-icon {
	color: red;
	margin-bottom: 5px;
	text-align: center;
}
